<a href="https://colab.research.google.com/github/Daziega/Colabs/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
for i in range(1,60):
  print (f"asdfasf i {i}")

asdfasf i 1
asdfasf i 2
asdfasf i 3
asdfasf i 4
asdfasf i 5
asdfasf i 6
asdfasf i 7
asdfasf i 8
asdfasf i 9
asdfasf i 10
asdfasf i 11
asdfasf i 12
asdfasf i 13
asdfasf i 14
asdfasf i 15
asdfasf i 16
asdfasf i 17
asdfasf i 18
asdfasf i 19
asdfasf i 20
asdfasf i 21
asdfasf i 22
asdfasf i 23
asdfasf i 24
asdfasf i 25
asdfasf i 26
asdfasf i 27
asdfasf i 28
asdfasf i 29
asdfasf i 30
asdfasf i 31
asdfasf i 32
asdfasf i 33
asdfasf i 34
asdfasf i 35
asdfasf i 36
asdfasf i 37
asdfasf i 38
asdfasf i 39
asdfasf i 40
asdfasf i 41
asdfasf i 42
asdfasf i 43
asdfasf i 44
asdfasf i 45
asdfasf i 46
asdfasf i 47
asdfasf i 48
asdfasf i 49
asdfasf i 50
asdfasf i 51
asdfasf i 52
asdfasf i 53
asdfasf i 54
asdfasf i 55
asdfasf i 56
asdfasf i 57
asdfasf i 58
asdfasf i 59

In [10]:
i= 0
list_of_i = []
while i < 58:
  i 1
  list_of_i.append(i)

  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58

In [48]:

def fibonacci(x,y):
  return x+y

h=0
j=1
for i in range(1,20):
    j0 = j
    j=fibonacci(h,j)
    h=j0
    print(f"h: {h};j: {j}; j0: {j0}")

h: 1;j: 1; j0: 1
h: 1;j: 2; j0: 1
h: 2;j: 3; j0: 2
h: 3;j: 5; j0: 3
h: 5;j: 8; j0: 5
h: 8;j: 13; j0: 8
h: 13;j: 21; j0: 13
h: 21;j: 34; j0: 21
h: 34;j: 55; j0: 34
h: 55;j: 89; j0: 55
h: 89;j: 144; j0: 89
h: 144;j: 233; j0: 144
h: 233;j: 377; j0: 233
h: 377;j: 610; j0: 377
h: 610;j: 987; j0: 610
h: 987;j: 1597; j0: 987
h: 1597;j: 2584; j0: 1597
h: 2584;j: 4181; j0: 2584
h: 4181;j: 6765; j0: 4181

In [ ]:
def tribonacci(x,y,z):
  return x+y+z

T0=0
T1=1
T2=1
for i in range (1,30):
  T10= T1
  T20= T2
  T1= tribonacci(T0,T1,T2)
  T1=T10
  T2=T20
  print(T0)

In [16]:
for i in range(1,11):

  print()

1
2
3
4
5
6
7
8
9
10

In [22]:
x= 0
list_of_x= []
while x<10:
  x=x+1
  list_of_x.append(x)
print(list_of_x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
x= 0
list_of_x= []
while x<20:
  x=x+1
  if x%2==0:
    list_of_x.append(x)

print(list_of_x)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [32]:
def is_prime(x):
  return x % 2 == 0

x= 0
list_of_x= []
while x<30:
  x=x+1
  is_prime = True

  if is_prime(x):
    list_of_x.append(x)

print(list_of_x)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [ ]:
import pandas as pd

x = list(range(1,31))

my_dict ={"a": x, "b":x}
enae_df = pandas.DataFrame(my_dict)

enae_df["b"] = list(range(1,31))
enae_df["c"] = enae_df["a"] +enae_df["b"]
enae_df

In [61]:
import pandas as pd
x= [i**2 for i in range(1,20)]
y= [i**3 for i in range(1,20)]
my_dict = {"a": x, "b":y}
enae_df = pd.DataFrame(my_dict)
enae_df["b"]= enae_df["b"]
enae_df["c"]= enae_df["a"]+ enae_df["b"]
enae_df

      a     b     c
0     1     1     2
1     4     8    12
2     9    27    36
3    16    64    80
4    25   125   150
5    36   216   252
6    49   343   392
7    64   512   576
8    81   729   810
9   100  1000  1100
10  121  1331  1452
11  144  1728  1872
12  169  2197  2366
13  196  2744  2940
14  225  3375  3600
15  256  4096  4352
16  289  4913  5202
17  324  5832  6156
18  361  6859  7220

In [3]:
for i in range(35,50):
  print(i)

35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [25]:
x = 35
my_list = []
while x < 49:
  x = x + 1
  my_list.append(x)
print(my_list)

[36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]